.background-image{
    background-image: url("/assets/tiburcio.jpg");
    width: 600px;
    height: 600px;
    color: white;
    padding: 20px 20px 0px 20px;
    text-align: justify;
    font-size: 20px;
    letter-spacing: 2px;
    background-position: center;
    background-size: cover;
    font-style: italic;
}

